.background {
  background: url("/src/Assets/Images/BG/house.png");
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.jesseContainer {
  position: absolute;
  bottom: 20px;
  left: 8%;
}

.road {
  background: url("/src/Assets/Images/BG/road_black.svg");
  background-repeat: repeat-x repeat-y;
  width: 100%;
  height: 20px;
  object-fit: cover;
  position: absolute;
  bottom: 0;
}
