.container {
  position: relative;

  img {
    &[data-inverted="true"] {
      transform: scaleX(-1);
    }
  }
}

.bubbleContainer {
  position: absolute;
  top: -40%;
  right: -85%;
  z-index: 10;
}
