.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 24px;
}

.welcomeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 24px;

  .scene {
    aspect-ratio: 294/314;
    min-width: 200px;
    width: min(50%, 300px);
    border: 2px solid var(--c-gray);
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 24px;
    flex: 1;
  }
}

.welcomeFooter {
  button {
    width: 100%;
  }
}
